@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,300;1,400;1,900&display=swap');

/* ==================
      Color Scheme
================== */
:root{
    --background:#1A1A1D;
    --lightgrey:#f1f1f1;
    --primary:#C3073F;
    --secondary:#6f2232;
    --primaryPink:#950740;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
    letter-spacing: 0.1rem;
}

/* ================
      Typography
================ */

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: 500;
}

h1 {font-size: clamp(2.5rem, 2.5vw, 4rem);}
h2 {font-size: clamp(2rem, 2.5vw, 3.5rem);}
h3 {font-size: clamp(1.8rem, 2.5vw, 3rem);}
h4 {font-size: clamp(1.5rem, 2.5vw, 2.5rem);}
p {
    font-size: clamp(1.1rem, 2.5vw, 2.1rem);
    font-weight: 400;
}

/* ==========
   Layout
========== */

/* Hero */

.intro{
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-transform: capitalize;
    position: relative;
    gap: 1.5rem;
    background-color: var(--background);
    color: var(--lightgrey);
}

.intro_typing{
    text-transform: none;
    color: var(--primary);
}

.intro_span{
    margin-left:.5rem;
    color: var(--primary);
}

.typing_cursor{
    content: '';
    margin-left: .5rem;
    height: 1.5rem;
    background-color: var(--primary);
}

.arrow_down{
    position: absolute;
    padding: 1.7rem 4rem;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    color:var(--primary);
    cursor: pointer;
}

.intro_portfolio{
    margin:1rem 0 6rem 0;
    padding:1.5rem 2.5rem;
    border-radius:10px;
    border: 1px solid var(--secondary);
    cursor: pointer;
}

/* social Media */

.social {
    min-width: 35%;
    margin-top:4rem;
    display: flex;
    justify-content: space-between;
    font-size:2rem;
  }
