@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,300;1,400;1,900&display=swap');

/* ==================
      Color Scheme
================== */
:root{
    --background:#1A1A1D;
    --lightgrey:#f1f1f1;
    --primary:#C3073F;
    --secondary:#6f2232;
    --primaryPink:#950740;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
    letter-spacing: 0.1rem;
}

/* ================
      Typography
================ */

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: 500;
}

h1 {font-size: clamp(2.5rem, 2.5vw, 4rem);}
h2 {font-size: clamp(2rem, 2.5vw, 3.5rem);}
h3 {font-size: clamp(1.8rem, 2.5vw, 3rem);}
h4 {font-size: clamp(1.5rem, 2.5vw, 2.5rem);}
h5 {font-size: clamp(1.3rem, 2.5vw, 2.2rem);}
p {
    font-size: clamp(1.1rem, 2.5vw, 2.1rem);
    font-weight: 400;
}

.skill_info h4{
   font-weight: 700;
}
/* ==========
   Layout
========== */

/* Hero */

.hero{
    background-color: var(--background);
    color: var(--lightgrey);
    height: 100vh;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    padding: 5rem;
    position: relative;

}

.hero_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero_typing{
    text-transform: none;
    color: var(--primary);
    margin-bottom: 1.5rem;
}

.hero_cursor{
    content: '';
    margin-left: .5rem;
    background-color: var(--primary);
}

.hero_span{
    margin-left:.5rem;
    color: var(--primary);
}

.hero_portfolio{
    margin: 3rem 0 6rem 0;
    padding:1.5rem 2.5rem;
    border-radius:10px;
    border: 1px solid var(--secondary);
    cursor: pointer;
}

.arrow_down {
    position: absolute;
    padding: 1.7rem 4rem;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    color:var(--primary);
    cursor: pointer;
}

/* social Media */

.social_container {
    min-width: 40%;
    display: flex;
    justify-content: space-between;
}

.social {
    font-size: 2.5rem;
    color: var(--lightgrey);
}

.youtube {
    color: #a51507;
  }
  
.dribble {
    color: #d0daf0;
  }
  
.twitter {
    color: #2985d1;
}

.linkedin{
    color: rgb(19, 80, 179);
    display: inline-block;
}


/* Nav Bar */

.nav_container{
    background-color: var(--background);
    position: fixed;
    height: 100vh;
    width: 60%;
    top: 0;
    right: -1000%;
    padding: 5rem 0 2rem 2rem;
    z-index: 1;
    list-style: none;
    transition: .8s ease-in;
}

.nav_container.toggle {
    right: 0;
    transition: .4s ease-in-out;
}

.nav_list{
    color: var(--lightgrey);
    text-decoration: none;
}

.link_wrapper{
    display: flex;
    width: 40%;
    align-items: center;
}

.nav_icon{
    font-size: 3rem;
    margin-right: 2rem;
}

.nav_title{
    align-self: center;
}

.nav_burger {
    z-index: 3;
    position: absolute;
    top: 93%;
    right: 10%;
    cursor: pointer;
    font-size: 3rem;
    color: var(--primary);
}

.nav_burger span{
    position: absolute;
}

/* about me */

.about_index{
    padding: 1rem;
    background-color: var(--lightgrey);
}

.about_img{
    display: block;
    width: 30rem;
    height: 30rem;
    margin: 4rem auto;
    border-radius: 50%;
    border: 6px solid var(--background);
}

.about_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    text-transform: capitalize;
    margin-bottom: 7rem;
}

.about_info li{
    padding: 1.2rem;
}

.about_metainfo{
    display: block;
    font-weight: 900;
}

/* Skills */

.skill_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
    margin-bottom: 7rem;
}
.skill_info{
    display: flex;
    justify-content: space-between;
    padding: .3rem 1.2rem;
}

.skill_progress--bar{
    width: 100%;
    height: .7rem;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.css,.html, .angular, .vue, .php, .ux, .jquery, .react{
    background: var(--primary);
	box-shadow: 0 3px 3px -5px var(--secondary), 0 2px 5px var(--primaryPink);
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: 1s ease 0.3s;
}

.css{width: 90%;}
.html{width: 78%;}
.angular{width: 65%;}
.vue{width: 90%; }
.php{width: 60%; }
.ux{width: 75%;}
.jquery{width: 80%;}
.react{width: 75%;}